templates_c
include/config.inc.php
travail
texts/appareils/*
!texts/appareils/index.html
texts/marques/*
!texts/marques/index.html
texts/montures/*
!texts/montures/index.html
texts/obturateurs/*
!texts/obturateurs/index.html
texts/tempo/*
texts/typeapps/*
!texts/typeapps/index.html
photos/*
!photos/index.html
!photos
