templates_c
include/config.inc.php
travail
texts/appareils/*
!texts/appareils
texts/marques/*
!texts/marques
texts/montures/*
!texts/montures
texts/obturateurs/*
!texts/obturateurs
texts/tempo/*
texts/typeapps/*
!texts/typeapps/
photos/*
!photos
