#Bloc
{
	display : flex;
	flex-wrap : wrap;
	width : 1200px;
	border : 5px groove;
	margin : auto;
	background-color: #f6edd0;
}
.case
{
	margin : 5px;
	display : flex;
	flex-direction : column;
	padding : 10px;
}
.case p
{
	margin : auto;
}
.case img
{
	margin : auto;
}
.case:hover
{
	background-color : #e5ddc2;
}
.case a
{
	text-decoration : none;
	color : black;
}
.case a:hover
{
	color : red;
}